DISCORD_TOKEN=
NGROK_AUTH_TOKEN=
CHANNEL_ID=
NGROK_PORT=


DISCORD_TOKEN token de tu bot//
NGROK_AUTH_TOKEN token de tu cuenta de ngrok
CHANNEL_ID el canal de tu discord
NGROK_PORT el puerto de ngrok pon eso en "8080"

test